@use '../../../../scss/global/colors' as colors;
@use '../../../../scss/utils/functions' as fn;
@import '../../../../scss/utils/breakpoints';
@import '../../../../scss/utils/mixins';

.classView {
  //   border: 1px solid red;
  @include flex;

  .dashboardDisplay {
    padding: fn.rem(20) fn.rem(10);
    width: 100%;
    @include breakpoint-up('md') {
      padding: fn.rem(32);
    }
    @include breakpoint-up('xl') {
      width: 72%;
    }

    .header {
      @include flex;
      @include flex_align;
    }
  }

  .notification {
    width: 28%;
    background-color: grey;
    padding: 0;
    position: sticky;
    top: 0;
    height: 100vh;
    display: none;

    @include breakpoint-up('xl') {
      display: flex;
    }
  }
}
