@use '../../scss/global/colors' as colors;
@use '../../scss/utils/functions' as fn;
@import '../../scss/utils/breakpoints';
@import '../../scss/utils/mixins';

.mobileNav {
  background-color: colors.$deep-blue;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-decoration: none;
  list-style-type: none;
  text-align: center;
  z-index: 999;
  @include flex;
  // @include flex_centered;
  @include breakpoint-up('xl') {
    display: none;
  }

  .logoDiv {
    position: absolute;
    top: 50%;
    left: 4%;
    transform: translate(-50%, -50%);
    .imgLogoContainer {
      width: fn.rem(28);
      height: fn.rem(28);
    }
  }

  .navGroup {
    @include flex;
    justify-content: space-around;
    padding: fn.rem(10) 0 fn.rem(5);
    width: 100%;

    .link {
      .list {
        .title {
          font-size: fn.rem(12);
          color: colors.$gray;
          vertical-align: bottom;
        }
      }
    }

    .link.active {
      .list {
        .title {
          font-size: fn.rem(12);
          color: colors.$light;
          vertical-align: bottom;
        }
      }
    }
  }
}
