@use '../../scss/global/colors' as colors;
@use '../../scss/utils/functions' as fn;
@import '../../scss/utils/breakpoints';
@import '../../scss/utils/mixins';

.drawer {
  background-color: colors.$base-bg;
  height: 100vh;
  width: 100%;
  @include flex-column;
  justify-content: space-between;

  @include breakpoint-up('lg') {
    padding: fn.rem(32);
  }

  .header {
    span {
      color: colors.$blue;
      font-weight: 600;
    }
    h5 {
      margin: fn.rem(11) 0 fn.rem(13);
    }

    p {
      color: colors.$text-dark;
      line-height: fn.rem(22);
    }
  }

  .classTimeType {
    margin: fn.rem(28) 0 fn.rem(30);
  }
}
