@use '../../../../scss/global/colors' as colors;
@use '../../../../scss/utils/functions' as fn;
@import '../../../../scss/utils/breakpoints';
@import '../../../../scss/utils/mixins';

.courseView {
  background-image: url('../../../../assets/images/512\ 1.png');
  background-position: right;
  // background-size: 100%;
  background-repeat: no-repeat;
  background-color: colors.$light;
  background-attachment: fixed;
  @include flex;

  .dashboardDisplay {
    // border: 1px solid red;
    padding: fn.rem(20) fn.rem(10);
    width: 100%;
    @include breakpoint-up('md') {
      padding: fn.rem(32);
    }
    @include breakpoint-up('xl') {
      width: 72.5%;
    }

    .header {
      @include flex;
      @include flex_align;
      justify-content: space-between;
    }
    .searchInput {
      width: fn.rem(400);
      height: fn.rem(36);

      input {
        &::placeholder {
          font-size: fn.rem(10);
          color: colors.$secondary;
        }
      }
    }

    .noActive {
      border: 1px solid red !important;
    }

    .dropdown {
      color: colors.$deep-blue;
      margin-left: -9rem !important;
      margin-top: 0.5rem !important;
    }

    .tableHeadTitle {
      flex: 2;
      p {
        color: colors.$deep-blue;
      }
    }

    .tableHead {
      flex: 1;
      p {
        color: colors.$gray;
      }
      ul {
        height: 100%;
        li {
          font-size: fn.rem(12);
          padding-block: fn.rem(1);
        }
      }
    }
  }

  .notification {
    width: calc(50%);
    padding: fn.rem(32) fn.rem(16);
    position: sticky;
    top: 0;
    height: 100vh;
    @include flex_column;
    justify-content: space-between;
    gap: fn.rem(85);
  }
}
// ============================================
.courseDetails {
  padding: fn.rem(32);
  border-radius: fn.rem(10);
  background-color: colors.$deep-blue;
  color: colors.$light;
  height: 100%;
  font-size: fn.rem(10);
  overflow: scroll;

  @include breakpoint-up('lg') {
    font-size: fn.rem(14);
  }

  .courseBanner {
    color: colors.$deep-blue;
    padding: fn.rem(16);
    background-color: colors.$light-blue-II;
    border: 1px solid colors.$blue;
    border-radius: fn.rem(20) fn.rem(20) fn.rem(20) 0;
    margin-bottom: fn.rem(32);
    .text {
      color: colors.$gray;
      font-size: fn.rem(10);
      line-height: fn.rem(19);
      word-wrap: break-word;
      @include breakpoint-up('lg') {
        font-size: fn.rem(14);
      }
    }
  }
}

.courseDetails.show {
  // animation: showDetails 1s forwards;
}

@keyframes showDetails {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.courseList {
  border: 1px solid colors.$blue !important;
  border-left: 6px solid colors.$blue !important;
}
