@use '@/scss/global/colors' as colors;
@use '@/scss/utils/functions' as fn;
@import '@/scss/utils/breakpoints';
@import '@/scss/utils/mixins';

.tab {
  margin-top: fn.rem(41);
  width: 100%;
  .tabList {
    @include flex;
    justify-content: flex-start;
    gap: fn.rem(10);
    width: 100%;
    border-bottom: 1px solid colors.$light-grey;
    margin: auto;
    @include breakpoint-up('lg') {
      margin: initial;
    }
    // background-color: colors.$light-grey;
    // border-radius: fn.rem(4);
    // padding: fn.rem(5);

    .link {
      flex: 1;

      .a {
        text-align: center;
        color: colors.$deep-blue;
        font-size: fn.rem(16);
        font-weight: 600;

        &:active {
          font-size: fn.rem(16);
          //   border-radius: fn.rem(4);
          border-bottom: 2px solid colors.$blue;
        }

        &:focus {
          font-size: fn.rem(16);
          //   border-radius: fn.rem(4);
          border-bottom: 2px solid colors.$blue;
        }
        // width: fn.rem(117);
      }

      .a.active {
        background-color: colors.$light;
        font-size: fn.rem(14);
        border-radius: fn.rem(4);
      }
    }
  }

  .listWrapper {
    @include flex_column;
    gap: fn.rem(35);
    // border: 1px solid red;
    // padding: fn.rem(16) 0;
    height: fn.rem(500);
    overflow-y: auto;
    @include breakpoint-up('lg') {
      @include flex;
    }

    .col1 {
      flex: 2;
    }

    .col2 {
      flex: 1;
    }
  }
}
