@use '@/scss/global/colors' as colors;
@use '@/scss/utils/functions' as fn;
@import '@/scss/utils/breakpoints';
@import '@/scss/utils/mixins';

.tab {
  // margin-top: fn.rem(41);
  width: 100%;

  .tabList {
    @include flex;
    flex-wrap: nowrap;
    // border: 1px solid red;
    // justify-content: flex-start;
    // gap: fn.rem(10);
    width: 100%;
    border-bottom: 1px solid colors.$light-grey;
    margin: auto;
    overflow-x: auto;
    @include breakpoint-up('lg') {
      margin: initial;
    }

    .link {
      flex: 1;
      .a {
        // width: fn.rem(300);
        width: fn.rem(250);
        // width: 100%;
        text-align: center;
        color: colors.$secondary;
        font-size: fn.rem(14);
        font-weight: 400;
        background-color: transparent;

        @include breakpoint-up('lg') {
          font-size: fn.rem(16);
        }
      }
    }
  }

  .listWrapper {
    @include flex_column;
    gap: fn.rem(35);
    overflow-y: auto;
    @include breakpoint-up('lg') {
      // @include flex;
    }

    .col1 {
      flex: 2;
    }

    .col2 {
      flex: 1;
    }
  }
}
