@use '../../scss/global/colors' as colors;
@use '../../scss/utils/functions' as fn;
@import '../../scss/utils/breakpoints';
@import '../../scss/utils/mixins';

.signup {
  padding: fn.rem(37);
  border-radius: fn.rem(8);

  .header {
    .subTitle {
      margin-bottom: fn.rem(48);
    }
  }
}
