@use '../../scss/global/colors' as colors;
@use '../../scss/utils/functions' as fn;
@import '../../scss/utils/breakpoints';
@import '../../scss/utils/mixins';

.signup {
  //   border: 1px solid red;
  max-width: fn.rem(582);
  //   height: fn.rem(809);
  margin: 0 auto;
  padding: fn.rem(37);
  border-radius: fn.rem(8);

  .header {
    .subTitle {
      margin-bottom: fn.rem(48);
    }
  }
}
