@use '../../../scss/global/colors' as colors;
@use '../../../scss/utils/functions' as fn;
@import '../../../scss/utils/breakpoints';
@import '../../../scss/utils/mixins';

.nav {
  .navbarCTA {
    // border: 1px solid red;
    @include flex;
    width: 100%;
    @include flex_centered;
    justify-content: space-between;

    .navbarLayout {
      @include flex_centered;
      justify-content: space-between;
      gap: fn.rem(48);
    }

    .searchInput {
      width: fn.rem(400);
      height: fn.rem(36);
      input {
        &::placeholder {
          font-size: fn.rem(10);
          color: colors.$secondary;
        }
      }
    }
  }
}
