@use '../../../scss/global/colors' as colors;
@use '../../../scss/utils/functions' as fn;
@import '../../../scss/utils/breakpoints';
@import '../../../scss/utils/mixins';

.stepper {
  .step {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-block: fn.rem(32);
  }

  .vStepper {
    position: relative;
  }

  /* regular step */
  .step .circle {
    background-color: colors.$light-blue-border;
    border-radius: 100%;
    width: fn.rem(38); /* +6 for border */
    height: fn.rem(38);
  }

  .circle {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: colors.$blue;
      width: fn.rem(26);
      height: fn.rem(26);
      border-radius: 100%;
    }
  }

  .step .line {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    height: 100%;
    border-left: fn.rem(1) solid colors.$gold;
  }

  .step:last-child .line {
    border-left: fn.rem(1) solid colors.$light;
    z-index: -1; /* behind the circle to completely hide */
  }

  .step.completed .circle {
    position: relative;
    background-color: colors.$gold-border;
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: colors.$gold;
      width: fn.rem(26);
      height: fn.rem(26);
      border-radius: 100%;
    }
  }

  .content {
    width: 100%;
    margin-left: fn.rem(40);
    .title {
      font-weight: 700;
    }
  }

  .contentFlex {
    @include flex_column;
    @include breakpoint-up('lg') {
      @include flex;
    }
    // .title,
    // .text {
    //   flex: 1;
    // }
    .title {
      flex: 1;
    }
    .text {
      flex: 2;
    }
  }
}
