.class-detail-2,
.class-detail-2 * {
  box-sizing: border-box;
}
.class-detail-2 {
  flex-shrink: 0;
  width: 914px;
  height: 145px;
//   position: static;
}
.inbox {
  border-style: solid;
  border-color: #b8b8b8;
  border-width: 1px;
  width: 914px;
  height: 145px;
//   position: absolute;
  left: 0px;
  top: 38px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
}
.frame-40347 {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: flex-start;
  justify-content: flex-start;
//   position: absolute;
  left: 31px;
  top: 53px;
}
.frame-58 {
  display: flex;
  flex-direction: row;
  gap: 18px;
  align-items: flex-end;
  justify-content: flex-start;
  flex-shrink: 0;
//   position: relative;
}
.fundamentals-of-design {
  color: #1f2666;
  text-align: left;
  font: 700 16px "Open Sans", sans-serif;
//   position: relative;
}
.view-submissions {
  color: #0266f4;
  text-align: left;
  font: 600 14px "Open Sans", sans-serif;
  text-decoration: underline;
//   position: relative;
}
.frame-40348 {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
//   position: relative;
}
.lorem-ipsum-dolor-sit-amet-consectetur-aliquam-sed-ultrices-ultricies-euismod-ut-porta-nec-ultrices-eget-turpis-cursus-em-elit-amet-aliquet-faucibus-erat-congue-tincidunt-hac-rhoncus-natoque-lobortis-enim-vivamus-lorem-ut {
  color: #747474;
  text-align: left;
  font: 600 14px "Open Sans", sans-serif;
//   position: relative;
//   width: 852px;
//   height: 46px;
}
.group-57 {
  flex-shrink: 0;
  width: 814px;
  height: 19px;
//   position: static;
}
.frame-60 {
  display: flex;
  flex-direction: row;
  gap: 11px;
  align-items: center;
  justify-content: center;
//   position: absolute;
  left: 0px;
//   top: 60px;
}
.vector {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.frame-40349 {
  display: flex;
  flex-direction: row;
  gap: 21px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
//   position: relative;
}
.css-styling-2-internal-external-pdf {
  color: #e00017;
  text-align: left;
  font: 600 14px "Open Sans", sans-serif;
  text-decoration: underline;
//   position: relative;
}
