@use '../../../scss/global/colors' as colors;
@use '../../../scss/utils/functions' as fn;
@import '../../../scss/utils/breakpoints';
@import '../../../scss/utils/mixins';

.hero {
  color: colors.$light;
  @include flex;
  @include flex_centered;
  background-size: cover;
  background-color: colors.$deep-blue;
  @include breakpoint-up('lg') {
    background: url('../../../assets/images/heroBg.webp') no-repeat right;
    height: fn.rem(749);
  }
  .heroWrapper {
    text-align: center;
    @include flex_column;
    flex-direction: column-reverse;
    gap: fn.rem(32);
    padding-top: fn.rem(100);

    @include breakpoint-up('lg') {
      text-align: initial;
      @include flex;
      @include flex_align;
      padding-top: 0;
    }

    .heroText {
      flex: 1;

      .title {
        @include breakpoint-up('2xl') {
          font-size: fn.rem(48);
        }
      }

      .btnGroup {
        @include flex_column;
        @include flex_align;
        margin-block: fn.rem(32);
        gap: fn.rem(16);
        @include breakpoint-up('lg') {
          @include flex;
        }
      }
    }

    .heroImg {
      flex: 2;
      max-width: fn.rem(701);
      height: fn.rem(484);

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}
