@use '../../../scss/global/colors' as colors;
@use '../../../scss/utils/functions' as fn;
@import '../../../scss/utils/breakpoints';
@import '../../../scss/utils/mixins';

.adminDashboard {
  //   border: 1px solid red;
  @include flex;

  .dashboardDisplay {
    padding: fn.rem(20) fn.rem(10);
    width: 100%;
    @include breakpoint-up('md') {
      padding: fn.rem(32);
    }
  }

  .sectionTwoLayout {
    @include flex;
    gap: fn.rem(32);

    .spanCol2 {
      @include flex_column;
      gap: fn.rem(32);
      width: 100%;
      @include breakpoint-up('xxl') {
        width: 75%;
      }
      @include breakpoint-up('2xl') {
        width: 80%;
      }
    }

    .calendar {
      width: 25%;
      display: none;
      @include breakpoint-up('xxl') {
        @include flex_column;
        gap: fn.rem(32);
      }
      @include breakpoint-up('2xl') {
        width: 20%;
      }
    }
  }
}
