@use '../../../scss/global/colors' as colors;
@use '../../../scss/utils/functions' as fn;
@import '../../../scss/utils/breakpoints';
@import '../../../scss/utils/mixins';

.section {
  @include flex_column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;

  h5 {
    font-weight: 600;
    font-size: fn.rem(33);
    color: #000000;
    margin-bottom: fn.rem(7);
  }

  p {
    font-weight: 400;
    font-size: fn.rem(16);
    line-height: fn.rem(27);
    max-width: fn.rem(556);
    margin-bottom: fn.rem(48);
  }
}

.sectionImgs {
  @include flex_column;

  gap: fn.rem(50);
  position: relative;

  .sectionImgs_dots {
    display: none;

    @include breakpoint-up('md') {
      display: block;
      position: absolute;
      width: fn.rem(116);
      height: fn.rem(118);
      bottom: fn.rem(-58);
      left: fn.rem(-51);
      z-index: -1;
    }
  }

  @include breakpoint-up('md') {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 147px;
  }

  .sectionImgs_main {
    max-width: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    @include breakpoint-up('md') {
      max-width: 538px;
    }
  }
}
