@use '../../../scss/global/colors' as colors;
@use '../../../scss/utils/functions' as fn;
@import '../../../scss/utils/breakpoints';
@import '../../../scss/utils/mixins';

.dashboardLayout {
  @include flex;
  margin: 0;
  .left {
    display: none;
    padding: 0;
    position: sticky;
    top: 0;
    height: 100vh;
    @include breakpoint-up('xl') {
      display: initial;
    }
  }
  .body {
    width: calc(100% - fn.rem(87));
    background-color: colors.$grey-bg;
    padding-bottom: fn.rem(70) !important;
    @include breakpoint-up('lg') {
      padding-bottom: 0 !important;
    }
  }
}
