@use '../../../scss/global/colors' as colors;
@use '../../../scss/utils/functions' as fn;
@import '../../../scss/utils/breakpoints';
@import '../../../scss/utils/mixins';

.dashboardLayout {
  position: relative;
  // border: 1px solid red;
  width: 100%;
  margin: 0;

  .left {
    display: none;
    padding: 0;
    position: sticky;
    top: 0;
    height: 100vh;
    width: 6%;
    @include breakpoint-up('xl') {
      display: flex;
    }
  }
  .body {
    background-color: colors.$grey-bg;
    width: 100%;
    @include breakpoint-up('xl') {
      width: 93.4%;
      margin-left: auto;
    }
    // padding: fn.rem(32);
  }
}
