@use '../../../../../scss/global/colors' as colors;
@use '../../../../../scss/utils/functions' as fn;
@import '../../../../../scss/utils/breakpoints';
@import '../../../../../scss/utils/mixins';

.sectionThree {
  background-color: colors.$deep-blue;
  margin-block: fn.rem(32);

  @include breakpoint-up('lg') {
    background-color: transparent;
    background-color: 0;
  }

  .message {
    font-size: fn.rem(14);
    @include breakpoint-up('lg') {
      font-size: fn.rem(16);
      max-width: fn.rem(600);
    }
  }
}
