@use '../../../scss/global/colors' as colors;
@use '../../../scss/utils/functions' as fn;
@import '../../../scss/utils/breakpoints';
@import '../../../scss/utils/mixins';

.sectionSix {
  background-color: colors.$deep-blue;
  
  @include breakpoint-up('lg') {
    margin: fn.rem(116) 0 fn.rem(144);

  }

  @include breakpoint-up('xl') {
    background-color: transparent;
  }

  .caption {
    font-weight: 400;
    font-size: fn.rem(17);
    margin-bottom: fn.rem(23);
  }

  .header {
    font-weight: 600;
    font-size: fn.rem(33);
    margin-bottom: fn.rem(24)
  }

  .btnContainer {
    @include flex;
    margin-top: fn.rem(36);
  }

  .contentContainer {
    flex: 1;
    width: 100%;
    // border: 1px solid red;
    .content {
      @include flex_align;
      justify-content: space-between;
      min-width: 100%;
      // border: 1px solid red;
      
      @include breakpoint-up('md') {
        min-width: fn.rem(400);
      }
    }
  }

  .contentTitle {
    @include flex_align;
    gap: fn.rem(4);
    justify-content: center;
    align-items: center;

    font-size: fn.rem(16);
    font-weight: 400;

    &>div {
      @include flex_align;
      width: fn.rem(8);
      height: fn.rem(12);

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}

.okay {
  border: 1px solid red;
}