.frame-40346,
.frame-40346 * {
  box-sizing: border-box;
}
.frame-40346 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.frame-164 {
  background: #eeeef0;
  border-style: solid;
  border-color: rgba(217, 217, 217, 0.85);
  border-width: 1px;
  flex-shrink: 0;
  width: 100%;
  height: 36px;
  position: relative;
  overflow: hidden;
}
.frame-40333 {
  display: flex;
  flex-direction: row;
  gap: 53px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 30px;
  top: 9px;
}
.frame-40332 {
  display: flex;
  flex-direction: row;
  gap: 60px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-168 {
  display: flex;
  flex-direction: row;
  gap: 82px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.name {
  color: #3d3e40;
  text-align: left;
  font: 600 13px 'Open Sans', sans-serif;
  position: relative;
}
.assignment {
  color: #3d3e40;
  text-align: left;
  font: 600 13px 'Open Sans', sans-serif;
  position: relative;
}
.time {
  color: #3d3e40;
  text-align: left;
  font: 600 13px 'Open Sans', sans-serif;
  position: relative;
}
.frame-40318 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 17px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.group-115 {
  flex-shrink: 0;
  width: 100%;
  position: static;
}
.frame-40317 {
  display: flex;
  flex-direction: row;
  gap: 23px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 30px;
  top: 0px;
}
.barry-allen {
  color: #3d3e40;
  text-align: left;
  font: 400 14px 'Open Sans', sans-serif;
  position: relative;
}
.hi-fi-wireframes {
  color: #3d3e40;
  text-align: left;
  font: 400 14px 'Open Sans', sans-serif;
  position: relative;
}
.frame-170 {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.group-54 {
  flex-shrink: 0;
  width: 76px;
  height: 10px;
  position: static;
}
._19-06-2023 {
  color: #e00017;
  text-align: left;
  font: 600 14px 'Open Sans', sans-serif;
  position: absolute;
  left: 0px;
  top: calc(50% - 5px);
}
.group-55 {
  flex-shrink: 0;
  width: 59px;
  height: 10px;
  position: static;
}
._12-00-am {
  color: #e00017;
  text-align: left;
  font: 600 14px 'Open Sans', sans-serif;
  position: absolute;
  left: 82px;
  top: calc(50% - 5px);
}
.vector-12 {
  position: absolute;
  left: 0px;
  top: 28px;
  transform: translate(0px, -0.5px);
  overflow: visible;
}
.group-118 {
  flex-shrink: 0;
  width: 423px;
  height: 28px;
  position: static;
}
.frame-403172 {
  display: flex;
  flex-direction: row;
  gap: 23px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 30px;
  top: 45px;
}
.vector-122 {
  position: absolute;
  left: 0px;
  top: 73px;
  transform: translate(0px, -0.5px);
  overflow: visible;
}
.frame-403173 {
  display: flex;
  flex-direction: row;
  gap: 23px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 30px;
  top: 90px;
}
.vector-123 {
  position: absolute;
  left: 0px;
  top: 118px;
  transform: translate(0px, -0.5px);
  overflow: visible;
}
.group-119 {
  flex-shrink: 0;
  width: 423px;
  height: 28px;
  position: static;
}
.frame-403174 {
  display: flex;
  flex-direction: row;
  gap: 23px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 30px;
  top: 135px;
}
.vector-124 {
  position: absolute;
  left: 0px;
  top: 163px;
  transform: translate(0px, -0.5px);
  overflow: visible;
}
.frame-403175 {
  display: flex;
  flex-direction: row;
  gap: 23px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 30px;
  top: 180px;
}
.vector-125 {
  position: absolute;
  left: 0px;
  top: 208px;
  transform: translate(0px, -0.5px);
  overflow: visible;
}
.group-120 {
  flex-shrink: 0;
  width: 423px;
  height: 28px;
  position: static;
}
.frame-403176 {
  display: flex;
  flex-direction: row;
  gap: 23px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 30px;
  top: 225px;
}
.vector-126 {
  position: absolute;
  left: 0px;
  top: 253px;
  transform: translate(0px, -0.5px);
  overflow: visible;
}
