.errimg {
  max-width: 70%;
  height: 30vh;
}

.htag {
  font-family: "Open Sans";
  font-style: normal;

  line-height: 75px;

  color: #292929;
}

.ptag {
  font-family: "Open Sans";
  font-style: normal;

  line-height: 41px;
  /* identical to box height */

  color: #6d6d6d;
}

@media (min-width: 766px) {
}
