@use '@/scss/global/colors' as colors;
@use '@/scss/utils/functions' as fn;
@import '@/scss/utils/breakpoints';
@import '@/scss/utils/mixins';

.tracklayout {
  display: flex;
  // grid-template-columns: repeat(1, 1fr);
  gap: fn.rem(16);
  // @include breakpoint-up('lg') {
  //   grid-template-columns: repeat(3, 1fr);
  // }

  .col1 {
    // height: 100%;
    width: 35%;
  }

  .col2 {
    // height: 100%;
    width: 35%;
    @include flex_column;
    gap: fn.rem(16);
  }
  .col3 {
    // height: 100%;
    width: 30%;
    @include flex_column;
    gap: fn.rem(16);
  }
}
