// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@use '../../scss/utils/functions' as fn;
@use '../../scss/global/colors' as colors;
@import '../../../node_modules/bootstrap/scss/functions';

// 2. Include any default variable overrides here
$primary: #0266f4;
$info: #5a9eff;
$dark: #292929;
$body-color: #979dad;

$font-weight-lighter: lighter;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-bolder: 900;

$theme-colors: (
  'primary': $primary,
  'info': $info,
  'dark': $dark,
);

// Create your own map
$custom-colors: (
  'blue': #1f2666,
  'cyan': #1c1d1d,
  'grey': #4a5568,
  'black': #000000,
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);

$container-max-widths: (
  xl: 1148px,
  xxl: 1248px,
);

$grid-breakpoints: (
  xs: 0,
  sm: 375px,
  md: 768px,
  lg: 1024px,
  xl: 1200px,
  xxl: 1400px,
);

$spacers: (
  0: 0,
  '0_5': 0.125rem,
  1: 0.25rem,
  '1_5': 0.375rem,
  2: 0.5rem,
  '2_5': 0.7rem,
  3: 0.75rem,
  '3_5': 0.875rem,
  4: 1rem,
  5: 1.25rem,
  6: 1.5rem,
  7: 1.75rem,
  8: 2rem,
  9: 2.25rem,
  10: 2.5rem,
  12: 3rem,
  14: 3.5rem,
  16: 4rem,
  20: 5rem,
  24: 6rem,
  28: 7rem,
  32: 8rem,
  36: 9rem,
  40: 10rem,
  44: 11rem,
  48: 12rem,
  52: 13rem,
  56: 14rem,
  60: 15rem,
  64: 16rem,
  72: 18rem,
  80: 20rem,
  96: 24rem,
);

$font-sizes: (
  xs: '0.75rem',
  sm: '0.875rem',
  md: '1rem',
  lg: '1.125rem',
  xl: '1.25rem',
  '2xl': '1.5rem',
  '3xl': '2rem',
  '4xl': '2.75rem',
  '5xl': '3rem',
  '6xl': '3.75rem',
  '7xl': '4.5rem',
  '8xl': '6rem',
  '9xl': '8rem',
  '20': '20px',
  '22': '22px',
  '24': '24px',
);

// 3. Include remainder of required Bootstrap stylesheets
@import '../../../node_modules/bootstrap/scss/variables';

// 4. Include any default map overrides here

// 5. Include remainder of required parts
@import '../../../node_modules/bootstrap/scss/maps';
@import '../../../node_modules/bootstrap/scss/mixins';
@import '../../../node_modules/bootstrap/scss/root';

// 6. Optionally include any other parts as needed
@import '../../../node_modules/bootstrap/scss/utilities';
@import '../../../node_modules/bootstrap/scss/bootstrap';

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import '../../../node_modules/bootstrap/scss/utilities/api';

// 8. Add additional custom code here
// OVERIDES
.dropdown-toggle::after {
  display: none;
}

.border-radius-lg {
  border-radius: fn.rem(16);
}

.cc-img-fluid {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cc-shadow {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}

.cc-hover {
  transition: 0.3s ease;
  &:hover {
    box-shadow: 0px 0px 0px 4px #0266f450;
    color: colors.$light;
  }
}

.cc-link-hover {
  transition: 0.3s ease;
  &:hover {
    color: colors.$light-red !important;
  }
}

.cc-grow {
  transition: 0.3s ease;
  &:hover {
    transform: scale(1.05);
  }
}

img {
  vertical-align: inherit;
}
