.admin-tab .active {
  font-size: 1rem;
  background-color: transparent;
  border-radius: 0 !important;
  border-bottom: 3px solid #0266f4;
}

.dont-delete-btn:hover,
.dont-delete-btn:active,
.dont-delete-btn:focus {
  background-color: transparent;
  color: #e00017;
}

.cancel-btn:hover,
.cancel-btn:active,
.cancel-btn:focus {
  background-color: transparent;
  color: #0266f4;
}

.table td,
.table th {
  padding: 1rem;
}

.form-check-input {
  width: 22px;
  height: 22px;
}

.dropdown-menu {
  width: 300px !important;
  /* height: 400px !important; */
}

.dropdown-menu li a {
  justify-content: flex-start;
  margin: 0.5rem 0;
}
