@use '../../../../../scss/global/colors' as colors;
@use '../../../../../scss/utils/functions' as fn;
@import '../../../../../scss/utils/breakpoints';
@import '../../../../../scss/utils/mixins';

.aboutSectionFour {
  .title {
    font-weight: 800;
  }
  .teamCardGroup {
    display: grid;
    grid-gap: fn.rem(20);
    grid-row-gap: fn.rem(50);
    margin-block: fn.rem(60);
    grid-template-columns: repeat(1, 1fr);

    @include breakpoint-up('lg') {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
