@use '../../../../../scss/global/colors' as colors;
@use '../../../../../scss/utils/functions' as fn;
@import '../../../../../scss/utils/breakpoints';
@import '../../../../../scss/utils/mixins';

.notification {
  border-radius: fn.rem(8);
  padding: fn.rem(16);
  width: 100%;
  height: 100%;
  background-color: colors.$deep-blue;
  color: colors.$light;

  .notificationGroup {
    margin-block: fn.rem(32);
    .date {
      font-size: fn.rem(12);
    }
    .noticeWrapper {
      color: colors.$deep-blue;
      @include flex_column;
      gap: fn.rem(20);
    }
    .notificationMessage {
      background-color: colors.$base-bg;
      border-radius: fn.rem(4);
      padding: fn.rem(12);
      @include flex;
      @include flex_align;
      gap: fn.rem(30);

      .icon {
        border-radius: fn.rem(4);
        width: fn.rem(36);
        height: fn.rem(36);
        @include flex;
        @include flex_centered;
        background-color: colors.$gray;
      }

      .details {
        .message,
        .metaDetail {
          font-size: fn.rem(12);
        }

        .message {
          color: colors.$blue;
        }
        .metaDetail {
          color: colors.$gray;
        }
      }
    }
  }
}
