@use '../../../scss/global/colors' as colors;
@use '../../../scss/utils/functions' as fn;
@import '../../../scss/utils/breakpoints';
@import '../../../scss/utils/mixins';

.aboutSectionThree {
  @include breakpoint-up('xl') {
    padding: fn.rem(66) 0 fn.rem(182);
  }

  .header {
    margin-block-end: fn.rem(55);
    text-align: center;
    .title {
      width: fit-content;
      font-weight: 700;
      margin: 0 auto;
      @include breakpoint-up('xl') {
        font-size: fn.rem(32);
      }
    }

    .subTitle {
      text-align-last: center;
      max-width: fn.rem(500);
      margin: auto;
    }
  }
  .cardGroup {
    display: grid;
    grid-gap: fn.rem(50);
    margin-block: fn.rem(60);
    grid-template-columns: repeat(1, 1fr);
    @include breakpoint-up('lg') {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
