@use '../../../scss/global/colors' as colors;
@use '../../../scss/utils/functions' as fn;
@import '../../../scss/utils/breakpoints';
@import '../../../scss/utils/mixins';

.blogHero {
  color: colors.$light;
  @include flex;
  @include flex_centered;
  background: url('../../../assets/images/blogHeroBg.webp') no-repeat right;
  background-size: cover;
  background-color: colors.$deep-blue;
  @include breakpoint-up('lg') {
    height: fn.rem(524);
  }
  .heroWrapper {
    text-align: center;
    @include flex_column;
    flex-direction: column-reverse;
    gap: fn.rem(32);
    padding-top: fn.rem(100);

    @include breakpoint-up('lg') {
      text-align: initial;
      @include flex;
      @include flex_align;
    }

    .heroText {
      flex: 1;

      .title {
        margin: fn.rem(16) 0 fn.rem(28);
      }

      .searchForm {
        margin-block: fn.rem(32);
      }
    }

    .heroImg {
      flex: 1;
      max-width: fn.rem(701);
      height: fn.rem(284);

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}
