@use '../../../scss/global/colors' as colors;
@use '../../../scss/utils/functions' as fn;
@import '../../../scss/utils/breakpoints';
@import '../../../scss/utils/mixins';

.sectionFour {

  .sectionFourWrapper {
    @include breakpoint-up('lg') {
      @include flex;
      @include flex_align;
      // gap: fn.rem(50);
    }

    .sectionFourImg {
      // flex: 1;
      display: none;
      width: 50%;

      @include breakpoint-up('lg') {
        display: block;
      }
      
    }

    .sectionFourTextGroup {
      // flex: 2;
      @include breakpoint-up('lg') {
        width: 60%;
      }

      .sectionFourText {
        margin-bottom: fn.rem(32);

        @include breakpoint-up('lg') {
          margin-right: fn.rem(50);
        }

        @include breakpoint-up('2xl') {
          margin-right: fn.rem(0);
        }

        .caption {
          color: colors.$blue;
          font-weight: 600;
          font-size: fn.rem(14);
        }

        .title {
          font-weight: 800;
          margin: fn.rem(16) 0 fn.rem(24);
        }

        .subTitle {
          margin-bottom: fn.rem(52);
          @include breakpoint-up('lg') {
            margin-right: fn.rem(50);
          }
        }
      }
    }

    .btnContainer {
      @include flex;
    }
  }
}
