@use '../scss/global/colors' as colors;
@use '../scss/utils/functions' as fn;
@import '../scss/utils/breakpoints';
@import '../scss/utils/mixins';

.navImgContainer {
  width: fn.rem(24);
  height: fn.rem(24);
  img {
    width: 100%;
    height: 100%;
  }
  @include breakpoint-up('lg') {
    width: fn.rem(40);
    height: fn.rem(40);
  }
}

.logoText {
  font-size: fn.rem(12);
  @include breakpoint-up('lg') {
    font-size: fn.rem(14);
  }
}

.navbarDropdown {
  background-color: colors.$deep-blue;
  @include breakpoint-up('lg') {
    background-color: transparent;
  }
}
