@use '@/scss/global/colors' as colors;
@use '@/scss/utils/functions' as fn;
@import '@/scss/utils/breakpoints';
@import '@/scss/utils/mixins';

.notification {
  // border: 1px solid red;
  border-radius: fn.rem(8);
  background-color: colors.$deep-blue;
  color: colors.$light;
  width: 100%;
  height: 100%;
  overflow: auto;

  .classSummary {
    height: 100%;
    @include flex_column;
    justify-content: space-between;

    .header {
      position: relative;
      background-color: colors.$light-blue-II;
      padding: fn.rem(40) fn.rem(20) fn.rem(20) fn.rem(40);
      border: 2px solid colors.$light;
      border-radius: fn.rem(20);
      border-bottom-left-radius: 0;
      // height: 15rem;

      .avatar {
        position: absolute;
        top: 30%;
        left: 0;
        transform: translate(-50%, -50%);
        border: 2px solid colors.$light;
        border-radius: 100%;
      }

      .title,
      .text {
        color: colors.$deep-blue;
      }

      .title {
        font-size: fn.rem(12);
        @include breakpoint-up('md') {
          font-size: fn.rem(16);
        }
      }
      .text {
        font-size: fn.rem(10);
        @include breakpoint-up('md') {
          font-size: fn.rem(14);
          font-weight: bold;
        }
      }

      .desc {
        line-height: fn.rem(18);
        font-size: fn.rem(13);
        word-wrap: break-word;
        // border: 1px solid red;
        height: 5rem;
        padding-block: fn.rem(10);
        overflow: auto;
      }
    }

    .Participants {
      @include flex_column;
      gap: fn.rem(16);
      margin-block: fn.rem(30);
      @include breakpoint-up('md') {
        @include flex;
        @include flex_align;
        font-size: fn.rem(12);
      }
    }

    // .classTimeType {
    //   @include flex_column;
    //   gap: fn.rem(16);
    // }
  }
}
