@use '../../../../../scss/global/colors' as colors;
@use '../../../../../scss/utils/functions' as fn;
@import '../../../../../scss/utils/breakpoints';
@import '../../../../../scss/utils/mixins';

.notification {
  border-radius: fn.rem(8);
  //   margin: fn.rem(16);
  padding: fn.rem(48);
  width: 100%;
  background-color: colors.$deep-blue;
  color: colors.$light;

  .classSummary {
    .header {
      position: relative;
      background-color: colors.$light-blue-II;
      padding: fn.rem(40) fn.rem(20) fn.rem(20) fn.rem(43);
      border-radius: fn.rem(20);
      border-bottom-left-radius: 0;

      .avatar {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(-50%, -50%);
        border: 2px solid colors.$light;
        border-radius: 100%;
      }

      .title,
      .text {
        color: colors.$deep-blue;
      }
    }

    .Participants {
      @include flex;
      @include flex_align;
      gap: fn.rem(16);
      margin-block: fn.rem(30);
    }

    .classTimeType {
      @include flex_column;
      gap: fn.rem(16);
    }
  }
}
